<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafit.pjt.model.dao.FavoriteDao">
	
	<insert id="insert" parameterType="Favorite">
		INSERT INTO favorites
		VALUES(#{userID}, #{storeId})
	</insert>
	
</mapper>