<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafit.pjt.model.dao.CalenderDao">
	
	
	<!-- 
	파라미터로 들어오는 값은 로그인 인원의 id값과 설정하는 달력의 날짜이다 (기본값은 현재 날짜)
	두 파라미터가 변화할때마다 DB에서 id가 일치하고 날짜의 [년도, 월] 이 일치하는 데이터를 반환한다.
	 -->
	<select id="searchByIdAndMonth" parameterType="map" resultType="Reservation">
		SELECT storeId, date
		FROM reservation
		WHERE userId = #{id} AND YEAR(date) = YEAR(#{date}) AND MONTH(date) = MONTH(#{date})
	</select>



</mapper>