<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafit.pjt.model.dao.ReservationDao">


	<!-- 해당 아이디에 맞는 전체 예약 리스트를 가져온다. (캘린더 활용)-->
	<select id="selectReservationById" parameterType="String" resultType="Reservation">
		SELECT *
		FROM reservation
		WHERE user_id = #{userId} AND date > NOW()
	</select>



	<!-- 해당 날짜에 맞는 전체 예약 리스트를 가져온다.-->
	<select id="selectReservationByDate" parameterType="Map" resultType="Reservation">
		SELECT *
		FROM reservation
		WHERE YEAR(date) = YEAR(#{date}) AND MONTH(date) = MONTH(#{date}) AND user_id = #{userId}
	</select>
	
	<!-- 예약 완료시 해당 예약내역을 예약DB에 넣는다. -->
	<insert id="insertReservation" parameterType="Reservation" keyProperty="reservationId" useGeneratedKeys="true">
		INSERT INTO reservation (user_id, store_id, lesson_id, ticket_id, date)
		VALUES (#{userId}, #{storeId}, #{lessonId}, #{ticketId}, #{date})
	</insert>
	
	<!-- 예약 취소시 해당 예약을 DB에서 삭제한다. -->
	<delete id="deleteReservation" parameterType="int" >
		DELETE FROM reservation
		WHERE reservation_id = ${reservationId}
	</delete>
	
	
	
	
</mapper>
	